/*
********LIMPAR FORMATAÇÕES**********
*/


*{
  margin: 0;
  padding: 0;
}

body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  background: #c4c4c4;
}

h1{
  color: black;
  font-size: 80px;
}

h2{
  color:rgb(92, 5, 36);
  font-size: 35px;
}

h3{
  color:rgb(92, 5, 36);
  background: #cccccc;
  padding: 5px;
  font-size: 35px;
}


/*
********HEADER**********
*/


#header{
  background-color: pink;
  padding: 15px;
  text-align: center;
}

#logo, #menu{
  padding: 10px;
}

#header a:link, #header a:visited{
  color: #560530;
  padding: 8px 12px;
}

#header a:hover{
  color: rgb(92, 5, 36);
  background-color: #FFFFFF;
  text-decoration: none;
}

#menu{
  background-color: #cf77a6;
  padding: 15px;
}

/*
***** CONTENT *****
*/

#content{
    width: 920px;
    margin:0 auto;
    padding:15px;
}


#posts{
    width: 660px;
    float: left;
}

.post1{
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    text-align: justify;
}

.post2{
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    text-align: justify;
}
.lista {
  padding-left: 25px;
}
.post3{
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    text-align: justify;
}

.img-post1{
    width: 620px
}


.img-post2{
    width: 620px;
    height: 620px;
}


.portfolio a:link, #header a:visited{
  color: #560530;
  padding: 8px 12px;
}

.portfolio a:hover{
  color: rgb(92, 5, 36);
  background-color: #FFFFFF;
  text-decoration: none;
}
/*
***** FOOTER *****
*/



#footer{
    clear:both;
    text-align: center;
    padding: 15px;
    background: #560530;
    color: PINK;
    padding: 15px;
}


